@import "picnic/picnic.min.css";

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.wrapper > section {
    text-align: left;
    margin: 0;
    width:100%;
    max-width: 100%;
    padding: 4em 0 0 0;
    min-height: 100%;    
}

footer{
    box-shadow: 0 0 0.2em rgba(17, 17, 17, .2);
    padding: 1em 1em;
    height: 3em;
}

nav .menu>* {
    display: inline;
}

.wrapper {
    flex: 1 0 auto;
  }

footer {
    flex-shrink: 0;
}