@import "picnic/picnic.min.css";
.wrapper > section {
    text-align: left;
    margin: 0;
    width:100%;
    max-width: 100%;
    padding: 4em 0 0 0;
    min-height: 100%;    
}
footer{
    box-shadow: 0 0 0.2em rgba(17, 17, 17, .2);
    padding: 1em 1em;
    height: 3em;
}

/* table head */
.head{                      
    background: #0074d9;
    padding: 0.5em  0;
}