<h1>New Tracker</h1>
<div class="box box-info">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="box-body">
        <div class="form-group">
          <%= render 'form', tracker: @tracker %>
          <%= link_to 'Back', trackers_path %>
        </div>
      </div>
    </div>
  </div>  
</div>
